<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SoundOfMind.mapper.EmotionMapper">
	<select id="emotion" parameterType="String"
		resultType="com.SoundOfMind.domain.Emotion">
		SELECT @rownum:=@rownum+1 as rownum, E.*
		FROM (SELECT * FROM EMOTION WHERE ID=#{id} AND (@rownum :=0)=0 ORDER BY DATE
		DESC) E
	</select>
</mapper>