<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SoundOfMind.mapper.StoregeMapper">
	<select id="storege" parameterType="String"
		resultType="com.SoundOfMind.domain.Storege">
		select * from STOREGE where #{id}=#{id}
	</select>
</mapper>